* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
}

h1 {
  margin: 20px;
}
svg{
  width: 40px;
  height: 40px;
}
form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 100%;
  margin: 3px;
}

form button {
  margin: 3px;
  background-color: rgb(55, 205, 63);
  border: 1px solid rgb(55, 205, 63);
  border-radius: 4px;
  height: 25px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

form button:hover{
  transform: scale(1.1);
  background-color: rgb(5, 48, 218);
  color: white;
}
hr {
  width: 100%;
}

.remove {
  margin: 3px;
  text-align: center;
  color: white;
  border: 1px solid red;
  background-color: red;
  border-radius: 4px;
  height: 25px;
  width: 70px;
  cursor: pointer;
}

.container {
  width: 80%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  gap: 5px;
}
